<h1><%=@pirate[:name]%></h1>
<h2>Weight: <%=@pirate[:weight]%></h2>
<h2>Height: <%=@pirate[:height]%></h2>


<h2><%=@pirate[:ships][0][:name]%></h2>
<h2>Type: <%=@pirate[:ships][0][:type]%></h2>
<h2>Booty: <%=@pirate[:ships][0][:booty]%></h2>


<h2><%=@pirate[:ships][1][:name]%></h2>
<h2>Type: <%=@pirate[:ships][1][:type]%></h2>
<h2>Booty: <%=@pirate[:ships][1][:booty]%></h2>
