<html>
<body>
<h1>Display your Pirate here</h1>
<p>Your Pirate's name is: <%= @pirate.name %></p>
<p>Your Pirate's weight is: <%= @pirate.weight%></p>
<p>Your Pirate's height is: <%= @pirate.height%></p>
<p>Display your first ship here</p>
<p>First ship name: <%= @ships[0].name %></p>
<p>First ship type: <%= @ships[0].type %></p>
<p>First ship booty: <%= @ships[0].booty %></p>

<p>Display your second ship here</p>
<p>Second ship name: <%= @ships[1].name %></p>
<p>Second ship type: <%= @ships[1].type %></p>
<p>Second ship booty: <%= @ships[1].booty %></p>
</body>
</html>